# Lots of junk goes in here.
/caches/
/backups/

# fish
/config/fish/fish_variables
/config/fish/functions/fish_user_key_bindings.fish
/config/fish/functions/fzf_key_bindings.fish

# vim plugins
/link/.vim/autoload/plug.vim.old
/link/.vim/plugged/
/link/.vim/.netrwhist

# Top secret stuff!
/link/.ssh/authorized_keys
/link/.ssh/id_*
/link/.ssh/known_hosts

# Ignore any file with LOCAL in the name (good for per-machine vars/functions)
*LOCAL*

# Current color theme (will be placed by init script)
link/.colors/current
